@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Lato', sans-serif;
}

body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 255, 0.726));
}

/* Estilos para desktop */
@media screen and (min-width: 1024px) {
    .main{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        border: 2px solid black;
        width: 650px;
        padding: 10px;
        background-color: rgb(117, 117, 235);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
        border-radius: 10px;
    }

    header{
        font-size: 1.7em;
        font-weight: bolder;
    }

    .div_agenda{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        padding: 25px;
        width: 600px;
        margin: auto;
        background-color: rgb(214, 214, 214);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.445);

    }

    .cadastrar{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background-color: rgb(117, 117, 235);
        font-size: 1.4em;
        color: black;
        font-weight: bolder;
    }

    #form{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: auto;

        padding: 10px;
        border: 2px solid black;
        width: 300px;
        height: 250px;
        background-color: rgb(214, 214, 214);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);

    }

    #campo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    input{
        width: 280px;
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid black;
        text-transform: uppercase;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    label{
        font-size: 1.1em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    button{
        padding: 10px;
        border: 1px solid black;
        font-weight: bolder;
        font-size: 1em;
        transition: background-color 0.3s ease;
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    #btn_gravar:hover{
        background-color: darkblue;
        color: white;
        cursor: pointer;
    }

    .apagar{
        margin: auto;
        font-size: 15px;
        padding: 1px;
        margin-top: 15px;
        color: black;
        width: 80px;
    }

    .apagar:hover{
        background-color: red;
        color: white;
        cursor: pointer;
    }

    .btn_ver{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #btn_ver{
        cursor: pointer;
        margin-bottom: 10px;
    }

    #btn_ver:hover{
        background-color: darkblue;
        color: white;
    }

    #lista_contatos{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        border: 2px solid black;
        font-weight: bold;
        padding: 5px;
        width: 600px;
        margin: auto;
        background-color: rgb(214, 214, 214);
        text-transform: uppercase;
        font-size: 1.1em;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    .p{
        display: flex;
        justify-content: center;
      
        font-weight: bolder;
        font-size: 1.5em;
        margin-bottom: 8px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        width: 280px;
        color: black;
        border: 2px solid black;
        padding: 5px;
        margin: 2px;
        cursor: pointer;
        background-color: rgb(117, 117, 235);
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .contato:hover{
        background-color: darkblue;
        color: white;
        font-weight: bold;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 0, 0); 
        color: #fff; 
        padding: 4px; 
        font-size: 12px;
      }
  }

  /* Estilos para mobile */
  @media screen and (max-width: 767px) {
    .main{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        border: 2px solid black;
        width: 350px;
        padding: 10px;
        background-color: rgb(117, 117, 235);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
    }

    header{
        font-size: 1.4em;
        font-weight: bolder;
    }

    .div_agenda{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        padding: 25px;
        width: 260px;
        margin: auto;
        background-color: rgb(214, 214, 214);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.445);
    }

    .cadastrar{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        background-color: rgb(117, 117, 235);
        font-size: 1.3em;
        color: black;
        font-weight: bolder;
    }

    #form{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: auto;

        padding: 10px;
        border: 2px solid black;
        width: 290px;
        height: 330px;
        background-color: rgb(214, 214, 214);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.445);
    }

    #campo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    input{
        width: 267px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid black;
        font-size: 1.1em;
        text-transform: uppercase;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    label{
        font-size: 1.4em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    }

    button{
        padding: 10px;
        border: 1px solid black;
        font-weight: bolder;
        font-size: 1em;
        transition: background-color 0.3s ease;
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    #btn_gravar{
        position: absolute;
        left: 3.6%;    
        color:black;
    }

    #btn_gravar:hover{
        background-color: darkblue;
        color: white;
        cursor: pointer;
    }

    .btn_ver{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #btn_ver{
        cursor: pointer;
        padding: 7px;
        margin-bottom: 10px;
    }

    #btn_ver:hover{
        background-color: darkblue;
        color: white;
    }

    .apagar{
        margin: auto;
        font-size: 15px;
        padding: 1px;
        margin-top: 15px;
        color: black;
        width: 80px;
    }

    .apagar:hover{
        background-color: red;
        color: white;
        cursor: pointer;
    }

    #lista_contatos{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        border: 2px solid black;
        font-weight: bold;
        padding: 5px;
        width: 300px;
        margin: auto;
        background-color: white;
        text-transform: uppercase;
        font-size: 1.1em;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.274);
    }

    .p{
        display: flex;
        justify-content: center;
        font-weight: bolder;
        font-size: 1.4em;
        margin-bottom: 8px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        color: black;
        border: 2px solid black;
        padding: 5px;
        margin: 2px;
        cursor: pointer;
        background-color: rgb(214, 214, 214);
        font-weight: bold;
        width: 280px;
        transition: background-color 0.3s ease;
    }

    .contato:hover{
        background-color: darkblue;
        color: white;
        font-weight: bold;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 0, 0); 
        color: #fff; 
        padding: 4px; 
        font-size: 12px;
  }
}
