body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(3, 194, 3, 0.842), rgb(27, 97, 0));
}

.tela{
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: rgb(15, 185, 0);
    width: 850px;
    height: 500px;
    border-radius: 0px 30px 0px 0px ;
    box-shadow: 0px 0px 50px rgba(164, 255, 28, 0.466);
}

header{
    background-image: linear-gradient(to left, green, rgba(157, 255, 0, 0.63));
    padding: 26.4px;
    color: white;
    font-size: 1.5em;
    border-radius: 0px 30px 0px 0px;
}

.telaBtnCriar {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    left: 0px;
    top: 79px;
    display: flex;
    width: 277px;
    height: 421px;
    background-image: linear-gradient(to left, green, rgba(157, 255, 0, 0.466));
}

.telaImagem {
    position: absolute;
    display: none;
    width: 277px;
    height: 421px;
    background-image: url(maoFolha.webp);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 79px;
}

.telaImagem img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.txt{
    font-size: 15.4px;
    color: white;
    font-weight: lighter;
    margin: 12px;
    margin-top: -3px;
    line-height: 1.5;
}

button{
    height: 25px;
    width: 150px; 
    margin: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-weight: bolder;
    box-shadow: inset 0 0 20px rgb(86, 255, 44);
    border-radius: 5px;
}

.telaDireita {
    display: flex;
    position: absolute;
    right: 0px;
    top: 79px;
    width: 573px;
    height: 421px;
    background-image: url(green.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.telaDireita>h1{
    color: rgba(0, 100, 0, 0.774);
    margin: auto;
    font-weight: lighter;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(231, 247, 8, 0.247);
    letter-spacing: 10px;
    font-size: 2.5em;

}

.cadastrar{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0px;
    top: 79.5px;
    width: 573px;
    height: 421px;
    background-image: linear-gradient(to right, green, rgba(157, 255, 0, 0.63));
}

.criar {
    border: 2px solid rgba(0, 0, 0, 0.055);
    margin-top: 7.8%;
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.267);
    background-color: #90ee9080;
    width: 500px;
    height: 300px;
}

.criar h1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.criar label{
    margin-left: 10%;
    font-weight: bold;
}

.criar input{
    display: flex;
    width: 400px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 10%;
}

.criar>button{
    margin-left: 35% ; 
}

.cadastrar02{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right: 0px;
    top: 79.5px;
    width: 573px;
    height: 421px;
    background-image: linear-gradient(to right, green, rgba(157, 255, 0, 0.63));
}

.carregando{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 79.5px;
    width: 850px;
    height: 421px;
    background-color: whitesmoke;
}

.dentroBanco{
    display: none;
    background-image: linear-gradient(to left, rgb(0, 128, 0), rgb(211, 247, 155));
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 79.5px;
    width: 850px;
    height: 421px;
    background-color: whitesmoke;
}

.headerDinamic{
    display: flex;
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: -21px;
    width: 820px;
    padding: 15px;
    justify-content: center;
    font-size: 1.9em;
}

.saldo {
    display: flex;
    color: black;
    font-size: 1.5em;
    position: absolute;
    top: 64px;
    width: 750px;
    padding: 50px;
    font-size: 2.5em;
}

.depositar { 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: black; 
    position: absolute; 
    top: 220px; 
    left: 0px; 
    width: 200px; 
    padding: 30px; 
    font-size: 2.3em; }

.sacar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    top: 315px;
    left: 0px;
    width: 200px;
    padding: 30px;
    font-size: 2.3em;
}



