@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 255, 0.726));
}

.main{
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    width: 650px;
    padding: 10px;
    background-color: rgb(117, 117, 235);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
}

header{
    font-size: 1.7em;
    font-weight: bolder;
}

.div_agenda{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 25px;
    width: 600px;
    margin: auto;
    background-color: rgb(214, 214, 214);
}

.cadastrar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    background-color: rgb(117, 117, 235);
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
}

#form{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;

    padding: 10px;
    border: 2px solid black;
    width: 300px;
    height: 250px;
    background-color: rgb(214, 214, 214);
}

#campo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

input{
    width: 280px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}

label{
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    padding: 10px;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 1em;
}

#btn_gravar{
    position: absolute;
    left: 3%;    
}

.btn_apaga{
    position: absolute;
    left: 70%;    
}

#btn_gravar:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.btn_apaga:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
}

#lista_contatos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 2px solid black;
    font-weight: bold;
    padding: 5px;
    width: 600px;
    margin: auto;
    background-color: rgb(214, 214, 214);
}

.p{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.contato{
    display: flex;
    flex-direction: column;
    color: black;
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(117, 117, 235);
    font-weight: bold;
}

.contato:hover{
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.selecionada{
    background-color: darkred !important;
    color: white;
}