body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 16px;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 2; /* Ajustando o z-index para garantir que o cabeçalho fique sobre o conteúdo */
  }
  
  .menu-toggle {
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  .menu-toggle input {
    display: none;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .menu-toggle span:last-child {
    margin-bottom: 0;
  }
  
  .menu-toggle input:checked ~ span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle input:checked ~ span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
  }
  
  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    padding: 0;
    width: 100%;
    text-align: center;
    z-index: 1; /* Ajustando o z-index para garantir que o menu fique sobre o conteúdo */
  }
  
  .menu li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #555;
    list-style-type: none;
  }
  
  .menu li:last-child {
    border-bottom: none;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    margin-top: 100px; /* Espaçamento para evitar que o menu cubra o conteúdo */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 0; /* Ajustando o z-index para garantir que o conteúdo fique abaixo do menu */
  }
  
  nav, aside {
    width: 100%;
    padding: 10px;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  article {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  }
  
  .article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  aside {
    margin-top: 20px;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  footer p {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  
    nav, article, aside {
      flex: 1 1 calc(33.33% - 20px);
      margin-right: 20px;
    }
  
    nav {
      order: -1;
      margin-bottom: 0;
    }
  
    article {
      margin-top: 0;
    }
  
    footer {
      margin-top: 20px;
    }
  }