@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

body{
    background-color: blue;
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: -240px;
    transition: all 0.8s;
}

.calc_exibir{
    left: 0px !important;
    transition: all 0.8s;
}

.calc_principal{
    background-color: #e9e8e8;
    border: 3px solid #00000080;
    border-radius: 7px;
    width: 240px;
    padding: 10px;
    margin-top: 150px;
} 

.calc_aba{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    font-size: 13px;
    margin-top: 125px;
    background-color: #e9e8e8;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.calc_aba:hover{
    background-color: green;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.aba_exibir:hover{
    background-color: red !important;
    content: "teste";
}

.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    margin-bottom: 10px;
}

.div_nome>p{
    font-size: 1.4em;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
    width: 220px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

.display{
    width: 220px;
    background-color: rgba(73, 170, 73, 0.548);
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: large;
}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    flex-wrap: wrap;
}

.tecla{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #aaa;
    border: 3px solid #888;
    border-radius: 50%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
}

.op, .res, .cp{
    background-color: #f44 !important;
    border-color: #800 !important;

}

.ligado {
    background-color: red;
}